/* variables and functions */
/* headers color */
/* paragraph colors */
/* text sizes */
/* Fonts */
/* padding*/
/* base and layout */
body {
  background-color: #222f3e;
  min-height: 100%;
}

h1 {
  color: #ff4757;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

footer {
  color: #dcdde1;
  font-size: 1rem;
  margin-top: auto;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Cool card */
.card {
  display: block;
  margin: 0.75rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card .card-title {
  font-size: 2rem;
  color: #dcdde1;
}
.card a {
  text-decoration: none;
  color: #e1b12c;
}
.card a:hover {
  text-decoration: none;
  color: #dcdde1;
}
.card .card-body {
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  color: #dcdde1;
}
.card .card-body a {
  text-decoration: none;
  color: #e1b12c;
}
.card .card-body a:hover {
  text-decoration: none;
  color: #dcdde1;
}