/* Imported different stylesheets, so there is not alot of css in just one big file */
/* variables set in scss file */
/* Sass Mixins */
/* Colors */
/* text sizes */
/* Fonts */
/* padding*/
/* base and layout */
/* Sass Mixin Included */
body {
  background-color: #222f3e;
  min-height: 100%;
}

/* Variables used instead of dry css code over and over again */
h1 {
  color: #ff4757;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

footer {
  color: #f5f6fa;
  font-size: 1rem;
  margin-top: auto;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* information on page */
/* Variables used instead of dry css code over and over again */
.card {
  display: block;
  margin: 0.75rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Sass Mixin Included */
}
.card .card-title {
  font-size: 2rem;
  color: #c4f1f3;
}
.card a {
  text-decoration: none;
  color: #e1b12c;
}
.card a:hover {
  text-decoration: none;
  color: #f5f6fa;
}
.card .card-body {
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  color: #f5f6fa;
}
.card .card-body a {
  text-decoration: none;
  color: #e1b12c;
}
.card .card-body a:hover {
  text-decoration: none;
  color: #f5f6fa;
}