/* Sass Mixin Included */ 

body{
    @include main-body;
}

/* Variables used instead of dry css code over and over again */

h1{
    color: $primary-color; 
    font-family: $primary-font;
    font-size: $font-size-bigger;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

footer{
    color: $secondary-color1;
    font-size: $font-size-small;
    margin-top: auto;
    font-family: $secondary-font;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

