/* Sass Mixins */ 
@mixin main-body{
    background-color: #222f3e;
    min-height: 100%;
}

@mixin click-href{
    text-decoration: none;
    color: $link-color;

}

/* Colors */
$primary-color: #ff4757;
$secondary-color: #c4f1f3;
$secondary-color1: #f5f6fa;
$link-color: #e1b12c;

/* text sizes */
$base-font-size: 2rem;
$font-size-big: $base-font-size * 1.5; 
$font-size-bigger: $base-font-size * 2;

$font-size-small: $base-font-size * 0.5;

/* Fonts */
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'PT Sans', sans-serif;

/* padding*/ 

$base-margin: 0.75rem;





